<h1>Generate PDF from HTML</h1>

<form action="/html_to_paginated_pdf.pdf" method="get">
  <p>
    <label for="uri">URI</label>
    <input style="width:100%" id="uri" name="uri" type="text" />
  </p>
  <p>
    <input type="submit" value="Get PDF" />
  </p>
</form>